NODE_ENV=production
PORT=4000
PSQL_PROD_URI=
PSQL_USER=
PSQL_PASSWORD=
PSQL_DATABASE=
PSQL_PORT=5432 

JWT_SECRET=yoursecret
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=